@mixin navBarDiv{
    width: $mainContainerW;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

@mixin Display{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

// Display For Flex Direction=COLUMN
@mixin displayColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@mixin navBarFonts{
    font-size: 16px;
    font-weight: 400;
    font-family: open sans;
    line-height: 24px;
    color: #323232;
}

// MainFont

@mixin mainFont{
    font-size: $myFontSize;
    font-weight: $myFontWeight;
    font-family: $myFontFamily;
    color: $myFontColor;
    line-height: $myFontHeight;
}

// SecondFont

@mixin secondFont{
    font-size: $secondFontSize;
    font-weight: $secondFontWeight;
    font-family: $secondFontFamily;
    line-height: $secondFoneHeight;
    color: $secondFontColor;
}

// ThirdFont
@mixin thirdFont{
    font-size: $thirdFontSize;
    font-weight: $thirdFontWeight;
    font-family: $thirdFontFamily;
    line-height: $thirdFoneHeight;
}

// ButtonInfo

@mixin mainButton{
    width: $buttonWidth;
    height: $buttonHeight;
    background-color: $buttonColor;
    border: $buttonBorder;
    cursor: $buttonCursor;
}

@mixin mainButtonSpan{
    font-size: $mainButtonSpanSize;
    font-weight: $mainButtonSpanWeight;
    font-family: $mainButtonSpanFamily;
    line-height: $mainButtonSpanHeight;
    color: $mainButtonSpanColor;
}


// Second Main Div 1160px
@mixin secondMainDiv{
    width: $secondMainW;
    margin: $secondMainMarginAuto;
    margin-top: $secondMainMarginTop;
}