* {
  padding: 0;
  margin: 0;
}

.main-container {
  width: 1440px;
  background-color: #e5e5e5;
  margin: auto;
  border: 2px solid black;
}

.nav-bar-main-div {
  width: 1440px;
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.nav-bar-main-div .add-icon {
  display: none;
}
.nav-bar-main-div .nav-bar-left-section {
  width: 330px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.nav-bar-main-div .nav-bar-left-section ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.nav-bar-main-div .nav-bar-left-section ul li {
  font-size: 16px;
  font-weight: 400;
  font-family: open sans;
  line-height: 24px;
  color: #323232;
}
.nav-bar-main-div .nav-bar-middle-section {
  width: 90px;
  height: 86px;
}
.nav-bar-main-div .nav-bar-middle-section img {
  width: 100%;
}
.nav-bar-main-div .nav-bar-right-section {
  width: 266px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.nav-bar-main-div .nav-bar-right-section ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  list-style: none;
}
.nav-bar-main-div .nav-bar-right-section ul li {
  font-size: 16px;
  font-weight: 400;
  font-family: open sans;
  line-height: 24px;
  color: #323232;
}

.header-main-container {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.header-main-container .inner-header-left-section-div {
  width: 50%;
  height: 774px;
}
.header-main-container .inner-header-right-section-div {
  width: 48%;
  height: 774px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-main-container .inner-header-right-section-div .header-right-section-top-div {
  width: 90%;
  height: 350px;
}
.header-main-container .inner-header-right-section-div .header-right-section-top-div h3 {
  font-size: 16px;
  font-weight: 400;
  font-family: open sans;
  line-height: 24px;
  color: #323232;
}
.header-main-container .inner-header-right-section-div .header-right-section-top-div h1 {
  font-size: 48px;
  font-weight: 400;
  font-family: Tenor Sans;
  color: #57463A;
  line-height: 57.6px;
  margin-top: 17px;
  margin-bottom: 40px;
}
.header-main-container .inner-header-right-section-div .header-right-section-top-div h2 {
  font-size: 18px;
  font-weight: 300;
  font-family: Open Sans;
  line-height: 27px;
  color: #323232;
  margin-bottom: 67px;
}
.header-main-container .inner-header-right-section-div .header-right-section-top-div button {
  width: 245px;
  height: 60px;
  background-color: #A1B29F;
  border: none;
  cursor: pointer;
}
.header-main-container .inner-header-right-section-div .header-right-section-top-div button span {
  font-size: 16px;
  font-weight: 400;
  font-family: Open Sans;
  line-height: 24px;
  color: #f6f6f6;
}
.header-main-container .inner-header-right-section-div .header-right-section-bottom-div {
  margin-top: 100px;
  width: 250px;
}
.header-main-container .inner-header-right-section-div .header-right-section-bottom-div img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.second-page-main-container {
  width: 1160px;
  margin: auto;
  margin-top: 160px;
}
.second-page-main-container .inner-second-page-top-div {
  width: 100%;
}
.second-page-main-container .inner-second-page-top-div h2 {
  font-size: 48px;
  font-weight: 400;
  font-family: Tenor Sans;
  color: #57463A;
  line-height: 57.6px;
  margin-bottom: 100px;
}
.second-page-main-container .inner-second-page-bottom-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.second-page-main-container .inner-second-page-bottom-div .bottom-div {
  width: 31%;
}
.second-page-main-container .inner-second-page-bottom-div .bottom-div h3 {
  font-size: 18px;
  font-weight: 300;
  font-family: Open Sans;
  line-height: 27px;
  color: #323232;
  text-align: center;
}

.third-page-main-container {
  width: 1160px;
  margin: auto;
  margin-top: 160px;
}
.third-page-main-container .inner-third-page-top-div {
  width: 100%;
}
.third-page-main-container .inner-third-page-top-div h2 {
  font-size: 48px;
  font-weight: 400;
  font-family: Tenor Sans;
  color: #57463A;
  line-height: 57.6px;
  margin-bottom: 100px;
}
.third-page-main-container .inner-third-page-bottom-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.third-page-main-container .inner-third-page-bottom-div .janger-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.third-page-main-container .inner-third-page-bottom-div .janger-div .icons-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.third-page-main-container .inner-third-page-bottom-div .janger-div .icons-div .inner-icons-div {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
}
.third-page-main-container .inner-third-page-bottom-div .janger-div .icons-div .inner-icons-div h3 {
  font-size: 18px;
  font-weight: 300;
  font-family: Open Sans;
  line-height: 27px;
  color: #323232;
}

.fourth-page-main-container {
  width: 1160px;
  margin: auto;
  margin-top: 160px;
}
.fourth-page-main-container h2 {
  font-size: 48px;
  font-weight: 400;
  font-family: Tenor Sans;
  color: #57463A;
  line-height: 57.6px;
  margin-bottom: 100px;
}

.fifth-page-main-container {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.fifth-page-main-container .left-section-div {
  width: 50%;
  height: 475px;
}
.fifth-page-main-container .right-section-div {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fifth-page-main-container .right-section-div .inner-right-section-div {
  width: 70%;
}
.fifth-page-main-container .right-section-div .inner-right-section-div h2 {
  font-size: 24px;
  font-weight: 400;
  font-family: Tenor Sans;
  line-height: 36px;
}
.fifth-page-main-container .right-section-div .inner-right-section-div p {
  font-size: 18px;
  font-weight: 300;
  font-family: Open Sans;
  line-height: 27px;
  color: #323232;
  margin-top: 40px;
  margin-bottom: 50px;
}
.fifth-page-main-container .right-section-div .inner-right-section-div button {
  width: 245px;
  height: 60px;
  background-color: #A1B29F;
  border: none;
  cursor: pointer;
}
.fifth-page-main-container .right-section-div .inner-right-section-div button span {
  font-size: 16px;
  font-weight: 400;
  font-family: Open Sans;
  line-height: 24px;
  color: #f6f6f6;
}/*# sourceMappingURL=style.css.map */