*{
    padding: 0;
    margin: 0;
}

@import "variables";
@import "mixins";

// Main Container
.main-container{
    width: $mainContainerW;
    // height: 2000px;
    background-color: $bg-main;
    margin: auto;
    border: 2px solid black
}

// Nav Bar Section
.nav-bar-main-div{
    @include navBarDiv;
    .add-icon{
        display: none;
    }

        .nav-bar-left-section{
            width: 330px;
            height: 80px;
            @include Display;
                ul{
                    width: 100%;
                    list-style: none;
                    @include Display;
                        li{
                            @include navBarFonts;
                        }
                }
        }

        .nav-bar-middle-section{
            width: 90px;
            height: 86px;
                img{
                    width: 100%;
                }
        }

        .nav-bar-right-section{
            width: 266px;
            height: 80px;
            @include Display;
                ul{
                    width: 100%;
                    @include Display;
                    list-style: none;
                        li{
                            @include navBarFonts;
                        }
                }
        }
}

// Header Section
.header-main-container{
    width: $mainContainerW;
    @include Display;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
        .inner-header-left-section-div{
            width: 50%;
            height: 774px;
        }

        .inner-header-right-section-div{
            width: 48%;
            height: 774px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .header-right-section-top-div{
                width: 90%;
                height: 350px;
                    h3{
                        @include navBarFonts;
                    }
                    h1{
                        @include mainFont;
                        margin-top: 17px;
                        margin-bottom: 40px;
                    }  
                    h2{
                        @include secondFont;
                        margin-bottom: 67px;
                    }
                    button{
                        @include mainButton;
                        span{
                            @include mainButtonSpan;
                        }
                    }
            }

            .header-right-section-bottom-div{
                margin-top: 100px;
                width: 250px;
                // height: 50px;
                    img{
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                    }
            }
        }
}

// Second Page
.second-page-main-container{
    @include secondMainDiv;
        .inner-second-page-top-div{
            width: 100%;
                h2{
                    @include mainFont;
                    margin-bottom: 100px;
                }
        }

        .inner-second-page-bottom-div{
            width: 100%;
            @include Display;
                .bottom-div{
                    width: 31%;
                        h3{
                            @include secondFont;
                            text-align: center;
                        }
                }
        }

}

// Third Page
.third-page-main-container{
    @include secondMainDiv;
        .inner-third-page-top-div{
            width: 100%;
                h2{
                    @include mainFont;
                    margin-bottom: 100px;
                }
        }

        .inner-third-page-bottom-div{
            width: 100%;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            .janger-div{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .icons-div{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                        .inner-icons-div{
                            width: 100%;
                            height: 240px;
                            @include displayColumn;
                            gap: 20px;
                            border: 1px solid black;
                            h3{
                                @include secondFont;
                            }
                        }
                }
            }
            
        }
}

// Fourth Page
.fourth-page-main-container{
    @include secondMainDiv;
        h2{
            @include mainFont;
            margin-bottom: 100px;
        }
}

// Fifth Page
.fifth-page-main-container{
    width: $mainContainerW;
    @include Display;
        .left-section-div{
            width: 50%;
            height: 475px;
        }

        .right-section-div{
            width: 48%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .inner-right-section-div{
                width: 70%;
                // height: 350px;
                    h2{
                        @include thirdFont;
                    }
                    p{
                        @include secondFont;
                        margin-top: 40px;
                        margin-bottom: 50px;
                    }
                    button{
                        @include mainButton;
                        span{
                            @include mainButtonSpan;
                        }
                    }
            }
        }
}

// Sixth Page
.sixth-page-main-container{
    @include secondMainDiv;
        .inner-sixth-page-top-div{
            width: 100%;
                h2{
                    @include mainFont;
                    margin-bottom: 100px;
                }
        }

        .inner-sixth-page-bottom-div{
            width: $secondMainW;
            height: 700px;
            background-image: url(/images/sixth-page-image.svg);
                img{
                    width: 50px;
                    height: 50px;
                   
                }
        }
}

// Seventh Page

.seventh-page-main-container{
    @include secondMainDiv;
    height: 500px;
        h2{
            @include mainFont;
            margin-bottom: 100px;
        }
}