
// Main Container
$mainContainerW: 1440px;
$bg-main: #e5e5e5;

$secondMainW: 1160px;

$secondMainMarginAuto: auto;
$secondMainMarginTop: 160px;

// Main Font
$myFontSize: 48px;
$myFontWeight: 400;
$myFontFamily: Tenor Sans;
$myFontColor: #57463A;
$myFontHeight: 57.6px;

// Second Fond
$secondFontSize: 18px;
$secondFontWeight: 300;
$secondFontFamily: Open Sans;
$secondFoneHeight:27px;
$secondFontColor: #323232;

// ThirdFont
$thirdFontSize: 24px;
$thirdFontWeight: 400;
$thirdFontFamily: Tenor Sans;
$thirdFoneHeight:36px;

// FourthFont
$fourFontSize: 16px;
$fourFontWeight: 300px;
$fourFontFamily: Open Sans;
$fourFontHeight: 24px;
$fourFontColor: #F6F6F6;

// ButtonInfo

$buttonWidth: 245px;
$buttonHeight: 60px;
$buttonColor: #A1B29F;
$buttonBorder: none;
$buttonCursor: pointer;

$mainButtonSpanSize: 16px;
$mainButtonSpanWeight:400;
$mainButtonSpanFamily: Open Sans;
$mainButtonSpanHeight: 24px;
$mainButtonSpanColor: #f6f6f6;
